#app-node
  height 100%

.l-layout
  height 100%

.l-sidebar
  position fixed
  float left
  width $sidebar_width
  height 100%
  margin 0

.l-content
  margin-left $sidebar_width
  min-height 100%

.l-footer
  position fixed
  bottom 10px
  height $footer_height
  width $sidebar_width
