.p-welcome

  .p-w-logo
    display flex
    justify-content center
    align-items center
    height 400px
    margin-left 100px
    margin-right 100px

  .p-w-news
    margin-left 100px
    margin-right 100px