.p-welcome

  .p-w-top,
  .p-w-bottom
    flex: 1 0 40px

  .p-w-body
    flex: 0 0 auto

  .p-w-container
    margin: 0 auto
    width: 636px

    section
      //display: table-cell
      //width: 50%
      //vertical-align: middle
