.pure-g
  display: flex
  flex-wrap: wrap

.pure-g [class *= "pure-u"]
  font-family: $main_font_family

  .pure-gutter
    padding: 0 20px

.pure-g-hor-center
  justify-content: center

.pure-g-ver-center
  align-items: center

.pure-g-hor-reverse
  flex-direction: row-reverse
