html,
body
  height 100%

//body
//  font-family $main_font_family

//p
//  color $secondary_color
//  font-size: 12px

//a
//  color $base_link_color
//  text-decoration none
//
//  &:hover
//    text-decoration underline

//input
//  width 100%
//  box-sizing border-box
//
//textarea
//  width 100%
//  box-sizing border-box
//  resize vertical
//
//button, textarea, input
//  &:focus
//    outline none
//
//b,
//strong
//  font-weight 600
