.m-logo
  text-decoration none
  display block
  font-family $project_font_family
  not-selectable()

  &:hover
    text-decoration none

  .m-l-title
    margin 0
    font-size 54px
    color #32a4d9
    text-decoration none

  .m-l-tagline
    margin 5px 0 0
    font-size 24px
    font-weight normal
    color #c8c8c8
