.m-logo
  text-decoration: none
  display: block
  font-family: $project_font_family

  &:hover
    text-decoration: none

  .m-l-title
    margin: 0
    font-size: 36px
    color: #32a4d9
    text-decoration: none

  .m-l-tagline
    margin: 5px 0 0
    font-size: 12px
    font-weight: normal
    color: #c8c8c8

  &.m-logo-large
    .m-l-title
      font-size: 45px

    .m-l-tagline
      font-size: 15px

  &.m-logo-small
    .m-l-title
      font-size: 24px

  &.centered
    text-align: center
