.m-navbar
  padding 0
  margin 0

  .m-n-menu
    padding 60px 20px 0 0

    .m-nm-list
      padding 0
      margin 0

    li
      list-style-type none

    a
      display block
      padding 10px 0 10px 30px
      margin-bottom 10px

      &:hover
        text-decoration none
        cursor pointer
        background-color powderblue
