.m-violation-card

  .m-vc-sum
    font-weight bold
    line-height normal

  .m-vc-number
    margin-left 15px
    line-height normal
    color #bf360c
    font-size 14pt

  .m-vc-descr
    padding-top 20px

  .m-vc-attr
    display block
    line-height normal
    font-size 11pt
    color #616161

    i
      font-size 11pt